@model RentACar.Models.Kategorija
@{
    ViewBag.Title = "PrikaziVozilaKategorija";
}

<h2>Vozila za kategorijata @Model.Name  se:</h2>

<table>
@foreach (var item in Model.Vozila)
{
    <tr>
        <td>
            <a href="VoziloesController/Details/@item.VoziloId">@item.ModelName</a>
        </td>
       
    </tr>
}

</table>


